<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> - Finca Villa Laura</title>
	<link rel="shortcut icon" href="/img/LOGO.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/8f0026c7cf.js" crossorigin="anonymous"></script>
</head>