        <ul class="ulNavBar">
            <li class="liNavBar"><a href="/">Bienvenidos</a></li>
            <li class="liNavBar"><a href="/">Nuestra Finca</a></li>
            <li class="liNavBar"><a href="/">Galería</a></li>
            <li class="liNavBar"><a href="/">Ubicación</a></li>
            <li class="liNavBar"><a href="/">Reserva</a></li>
        </ul>
        <ul class="ulSession">
            <li class="liSession"><a href="/user/register">Registrar</a></li>
            <li class="liSession"><a href="/user/login">Ingresar</a></li>
        </ul>
    </div>
</nav>