<nav>
    <div>
        <h2>FINCA VILLA LAURA</h2>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Products</a></li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="" width="40">
                        Hi User
                    </a>
                    <ul>
                        <a href="#">My profile</a>
                        <li>
                            <hr>
                        </li>
                        <a href="#">Logout</a>
                    </ul>
                </li>
                <li><a href="/user/register">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</nav>